@using Domain.MarketingYear.Models
@model IEnumerable<MarketingYearModel>

@{
    ViewBag.Title = "Index";
}

<h2>Przychody ze sprzedarzy tuszy zwierzyny łownej</h2>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <link rel="stylesheet" href="~/Content/AnnualPlan/AnnualPlanStyles.css" />

    <script type="text/javascript">

        $('#generateButton').on('click', function () {
            var marketingYearId = $('#marketingYear :selected').val();
            window.location.href = "CarcassRevenue/List?marketingYearId=" + marketingYearId;
        });

    </script>
}

<br />

<div style="text-align: center">
    <h4>
        Wybierz Rok Gospodarczy
        <select class="form-control" style="display: inline; width: 23%; font-size:18px" id="marketingYear">
            @foreach (MarketingYearModel marketingYearModel in Model.OrderByDescending(x => x.Id))
            {
                <option value="@marketingYearModel.Id">@marketingYearModel.ToSelectOption()</option>
            }
        </select>

        <button class="btn btn-brown" id="generateButton">Pokaż</button>
    </h4>
</div>