body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

input.has-error,
select.has-error {
    background-color: #ffdcdc;
    border-color: red
}

span.has-error {
    color: #d9534f;
    font-weight: bold;
}

tr.editable,
tr.editable:hover{
    background-color: #e2f4e2 !important;
}

td.editable,
td.editable:hover{
    border: solid 2px green !important;
    background-color: #e2f4e2 !important
}

td.clearSearch a {
    display: block;
    width: 100%;
    text-align: center
}

td.clearSearch a > span{
    color: #d9534f;
    font-size: 24px;
    padding-top: 5px;
}

.navbar-inverse,
.navbar-brand,
.navbar-nav > li > a {
    background-color: #398439;
    border-color: #4cae4c;
    color: white !important;
}

.navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus,
.navbar-nav > li > .dropdown-menu > li > a:hover {
    background-color: darkgreen;
}

.navbar-nav > li > .dropdown-menu,
.navbar-nav > li > .dropdown-menu > li > a {
    background-color: #398439;
    color: white;
}

#bodyContainer {
    min-height: calc(100vh - 110px);
}

.footer {
    padding-top: 20px;
    height: 50px;
}

.btn-brown {
    color: #fff;
    background-color: #8a6d3b;
    border-color: #7d6336;
}

.btn-brown:focus,
.btn-brown:hover {
    color: #fff;
    background-color: #7d6336;
    border-color: #6d562f;
}

.footer-content,
.btn-brown:active {
    color: #fff;
    background-color: #6d562f;
    border-color: #614c2a;
}