@section Scripts{
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    @Scripts.Render("~/bundles/jqueryval")
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(document).ready(function () {
            $("#dateTo").datepicker($.datepicker.regional["pl"]);
        });
        
        $('#showReport').on('click', function () {
            var dateTo = $('#dateTo').val();
            window.location.href = "Report/MonthlyReport?dateFrom=04/01/2018" + "&dateTo=" + dateTo;
        });
    </script>
}
<h2>Meldunek</h2>

<br />

<p>Pobierz meldunek za okres od 01/04/@(DateTime.Today.Year - 1) do <input id="dateTo"> <button class="btn btn-default" id="showReport">Pokaż</button></p>