
@{
    ViewBag.Title = "Index";
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <link rel="stylesheet" href="~/Content/AnnualPlan/AnnualPlanStyles.css"/>

    <script type="text/javascript">

        $('#generateButton').on('click',
            function() {
                var marketingYearId = $('#marketingYear :selected').val();
                window.location.href = "AnnualPlan/Plan?marketingYearId=" + marketingYearId;
            })

    </script>
}
<label>Wybierz Rok Gospodarczy</label>
<select id="marketingYear">
    <option value="2">2017/04/01 - 2018/03/31</option>
    <option value="3">2018/04/01 - 2019/03/31</option>
</select>

<button class="btn btn-primary" id="generateButton">Generuj</button>

